@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#main {
    margin: 0% 10%;
    text-align: center;
}

#input_field {
    caret-shape: block;
    text-align: center;
}

#filename {
    text-align: center;
}

#top_nav {
    background-color: #fbcd08;
    padding: 10px;
}