<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div id="main">
        <h1>QR Code Generator</h1>
        <form method="post">
            <div>
                <p>URL:</p>
                <input id="input_field" type="text" name="url" autofocus required>
            </div>
            <div>
                <input id="submit_button" type="submit" value="Download"/>
            </div>
        </form>
    </div>
</body>
</html>